<h1>Login</h1>
<form action="/login" enctype="multipart/form-data" method="post">
  E-mail:
  <input type="text" name="email" /><br />
  Passwort:
  <input type="password" name="passwort" /><br />
  <input type="submit" />
</form>